/* PC */
@media(min-width:63.9375em)
{

}

/* Ipad && mobile */
@media(max-width:63.9375em)
{
.contact-info
{
    float: left;
}
.contact-form
{
    float: right;
    
}
.form-control
{
    padding: 15px;
}
.btn{
    padding: 15px 16px;
}
#nav .subnav
    {
        position: initial;
        background-color: #333;
        
    }
#nav .subnav a
    {
        color: #fff;
        padding: 5px 12px;
    }
#footer .social-list
{
    font-size: 3 8px;
  
}
#footer .social-list a {
    margin: 0 8px;
};
#footer .copyright a
{
    padding: 0 12px;
    display: inline-block;
}

#content .content-section
    {
        padding-right: 16px;
    }

}
/* Ipad */

@media (min-width:46.25em) and (max-width:63.9375em)
{
    .contact-info
    {
        line-height: 2;
    }

}

/* mobile */
@media (max-width:46.1875em)
{
    .s-col-full,
    .s-full-width
    {
        width: 100% !important;
    }
    #header
    {
        overflow: hidden;
    }
    #header .mobile-menu-btn
    {
        display:block    ;
    }
    #header .search-btn
    {
        display: none;
    }
    #nav
    {
        display: block;
    }
    #nav  li a{
        padding: 1px 24px;
    }

    #nav >li
    {
        display: block;
    }

    #nav >li:first-child
    {
        display: inline-block;
    }
    
    #content .member-img {
        width: 60%;
    }
    #nav .subnav
    {
        position: initial;
        background-color: #333;
        
    }
    #nav .subnav a
    {
        color: #fff;
        padding: 5px 41px;
    }
    .contact-form{
        margin-top: 32px;
    }
    .s-mt-8
    {
        margin-top: 8px !important;
    }
}